@import "../../stylesheets/variables";

.summary-card {
  display: flex;
  width: 100%;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
  background-color: $color-primary-bg;
  &__title {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px $line-secondary-line;
  }
  &__item {
    display: flex;
    justify-content: space-between;
  }
}
