@import "../../stylesheets/variables";

.summary-card {
  display: flex;
  width: 100%;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  &__subtotal,
  &__shipping,
  &__total {
    display: flex;
    justify-content: space-between;
  }
}
