@import "../../../stylesheets/variables";

.member {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem 2rem;
  &__title {
    font-size: 60px;
    text-align: center;
  }
  &__function {
    display: flex;
    width: 100%;
    input {
      width: calc(100% - 40px);
    }
    button {
      width: 40px;
      height: 40px;
      background-color: $color-secondary-bg;
      color: $color-secondary-text;
      cursor: pointer;
    }
    @media screen and (min-width: 768px) {
      gap: 1rem;
      justify-content: center;
      input {
        width: 30vw;
        font-size: 1rem;
      }
      button {
        width: 50px;
        height: 40px;
      }
    }
  }
  &__tab {
    width: 100%;
    min-height: 500px;
    outline: 1px $line-primary-line;
    &-nav {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      &-item {
        width: 50%;
        height: 40px;
        line-height: 40px;
        color: $color-primary-text;
        border-width: 1px;
        border-style: solid;
        border-color: transparent black black transparent;
        text-align: center;
        background-color: $color-sixth-bg;
        &-last {
          border-color: transparent transparent black transparent;
        }
      }
      .active {
        background-color: $color-primary-bg;
        border-bottom: transparent;
      }
    }
    &-content {
      padding: 1rem;
    }
  }
  @media screen and (min-width: 768px) {
    padding: 2rem 1rem;
  }
  @media screen and (min-width: 1024px) {
    padding: 2rem 10vw;
  }
}
