@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixin";

.product-detail {
  width: 100%;
  padding: 1rem 0;
  gap: 2rem;
  @media screen and (min-width: 768px) {
    min-height: 100vh;
    padding: 0;
  }
}

.product-detail__sale {
  display: flex;
  flex-direction: column;
  width: 100%;
  &-wrapper {
    height: min-content;
    position: relative;
    &:hover button {
      opacity: 0.6;
      transition: opacity 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }

  &-preview {
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
    &-item {
      display: inline-block;
      width: 100%;
      height: 100vh;
      img {
        width: 100%;
        height: 100%;
        outline: 2px $line-primary-line;
        @include img-cover-center;
      }
      &--show {
        display: unset;
      }
      &--hide {
        display: none;
      }
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;

    &-wrapper {
      position: sticky;
      width: 50%;
      top: 0;
      button {
        display: none;
      }
    }
    &-preview {
      height: min-content;
      white-space: unset;
    }
  }
}

.product-detail__sale-info {
  display: flex;
  width: 100%;
  gap: 1rem;
  padding: 1rem 8vw 2rem 8vw;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 768px) {
    position: sticky;
    width: 50%;
    height: min-content;
    top: 0;
    padding: 6vh 10vw;
  }
}

.product-detail__sale-info-content {
  display: flex;
  padding-bottom: 2rem;
  justify-content: space-between;
  border-bottom: 1px $line-secondary-line;
  &-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  &-subtitle {
    font-size: 10px;
  }
  &-title {
    font-size: 1rem;
    font-weight: lighter;
    font-family: $font-primary;
    color: $color-fifth-text;
    text-align: center;
    letter-spacing: 0;
  }
  &-price {
    width: 100%;
    font-size: 1rem;
    font-weight: lighter;
    font-family: $font-primary;
    color: $color-fifth-text;
    &-sell {
      margin-top: 1rem;
      color: $color-fourth-text;
    }
  }

  &-right {
    display: flex;
    align-items: flex-start;
  }
  &-function {
    &-favorite {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
}

.product-detail__sale-function {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  height: min-content;
  justify-content: space-between;
  &-alert {
    font-size: 8px;
    color: $color-fourth-text;
  }

  &-quantity {
    display: flex;
    width: 100%;
    border: 1px $line-fifth;
    border-radius: 4px;
    justify-content: space-between;
  }
  &-entry {
    border: none;
    text-align: center;
  }
}

.product-detail__description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  &-content {
    line-height: 1.5rem;
  }
  &-title {
    font-size: 20px;
    line-height: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px $line-primary-line;
  }
  &-info {
    &-item {
      line-height: 1.5rem;
      list-style-type: disc;
      list-style-position: inside;
    }
  }
  @media screen and (min-width: 768px) {
    &-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
