@import "../../stylesheets/variables";
@import "../../stylesheets/mixin";

.categories {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem 1rem;
  @include normalBreakPoint(medium) {
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(6, 1fr);
  }
}
