.cart-icon {
  display: flex;
  position: relative;
  width: min-content;
  align-items: center;

  &__logo {
    width: 30px;
    height: 30px;
  }
  &__count {
    position: absolute;
    color: white;
    font-size: 15px;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%, 5%);
    // bottom: 0;
  }
}
