.cart-icon {
  display: flex;
  position: relative;
  width: min-content;
  align-items: center;

  &__logo {
    width: 30px;
    height: 30px;
    &--bump {
      animation: bump 300ms ease-out;
    }
  }
  &__count {
    position: absolute;
    color: white;
    font-size: 15px;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%, 5%);
  }
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
