@import "../../stylesheets/variables";
@import "../../stylesheets/mixin";

.products-card {
  width: 100%;
  height: min-content;
  padding: 10px;
  color: $color-primary-text;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    @include light-shadow;
  }
  &:hover > &__preview > &__img {
    @include img-cubic-transition;
  }
  &:hover > &__preview > &__function {
    display: unset;
    opacity: 0.8;
    z-index: 10;
  }

  &__preview {
    width: 100%;
    height: 400px;
    overflow: hidden;
    outline: 2px $line-primary-line;
  }
  &__img {
    width: 100%;
    height: 100%;
    @include img-cover-center;
  }
  &__content {
    display: flex;
    width: 100%;
    height: min-content;
    justify-content: space-between;
    &-info {
      width: 100%;
      height: 100%;
      flex-direction: column;
      margin-top: 10px;
      text-align: start;
      &-title,
      &-price {
        font-size: 20px;
        font-weight: bold;
      }
      &-price {
        font-weight: lighter;
      }
    }
    &-function {
      &-favorite {
        width: 30px;
        height: 30px;
        margin-top: 10px;
      }
    }
  }
}
