@import "../../stylesheets/variables";

.products-card {
  width: 100%;
  height: min-content;
  padding: 10px;
  font-family: $font-primary;
  color: $color-primary-text;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    -webkit-box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.25);
  }
  &:hover > &__preview > &__img {
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  }
  &:hover > &__preview > &__function {
    display: unset;
    opacity: 0.8;
    z-index: 10;
  }

  &__preview {
    width: 100%;
    height: 400px;
    overflow: hidden;
    outline: 2px solid #272727;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__info {
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: column;
    margin-top: 10px;
    text-align: start;
    &-title,
    &-price {
      font-size: 20px;
      font-weight: bold;
    }
    &-price {
      font-weight: lighter;
    }
  }
}
