@import "../../stylesheets/variables";
@import "../../stylesheets/mixin";

.products-card {
  width: 100%;
  height: min-content;
  padding: 10px;
  color: $color-primary-text;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    @include light-shadow;
  }
  &:hover > &__preview > &__img {
    @include img-cubic-transition;
  }
  &:hover > &__preview > &__function {
    display: unset;
    opacity: 0.8;
    z-index: 10;
  }

  &__preview {
    width: 100%;
    height: 400px;
    overflow: hidden;
    outline: 2px $line-primary-line;
  }
  &__img {
    width: 100%;
    height: 100%;
    @include img-cover-center;
  }
  &__content {
    display: flex;
    width: 100%;
    height: min-content;
    flex-direction: column;
    justify-content: space-between;
    &-info {
      display: flex;
      width: 100%;
      margin-top: 10px;
      justify-content: space-between;
      align-items: center;
      &-title {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
      }
      &-wrapper {
        display: flex;
        align-items: center;
      }
      &-favorite {
        width: 25px;
        height: 25px;
        &:hover {
          animation: bump 300ms ease-out;
        }
      }
    }
    &-price {
      display: flex;
      margin-top: 10px;
      justify-content: space-between;
      font-weight: lighter;
      font-size: 20px;
      font-weight: bold;
    }
    &-function {
    }
  }
}
