//* font
$font-primary: "Source Code Pro", monospace;

//* bg color
$color-primary-bg: #ffffff;
$color-secondary-bg: #272727;
$color-third-bg: gray;
$color-fourth-bg: #d2d2d2;
$color-fifth-bg: #555555;

//* text color
$color-primary-text: #272727;
$color-secondary-text: #ffffff;
$color-third-text: gray;

//* outline or border color
$line-primary-line: solid #272727;
$line-secondary-line: solid #eae8e4;

//* semi transparent bg
$semi-color-primary-bg-8: rgba(255, 255, 255, 0.8);
$semi-color-primary-bg-5: rgba(255, 255, 255, 0.5);
$semi-color-secondary-bg-7: rgba(0, 0, 0, 0.75);

//* semi transparent line
$semi-color-primary-line: solid rgba(0, 0, 0, 0.7);

//* other color
$color-primary-other: #f1f1f1;
$color-secondary-other: #272727;

$temp-color: #efefef;

$temp-bg-color: #f6f5f3;
//* 放在 checkout 的背景顏色，感覺不錯，白略偏灰

$color-primary-line: #eae8e4;
//* 淡灰色線條，專門用來做分隔線用
