//* font
$font-primary: "Source Code Pro", monospace;

//* bg color
$color-primary-bg: white;
$color-secondary-bg: #272727;

//* text color
$color-primary-text: #272727;
$color-secondary-text: white;
