@import "../../stylesheets/variables";

.cart-item {
  display: flex;
  position: relative;
  width: 100%;
  height: min-content;
  border: 1px solid #eae8e4;
  border-radius: 5px;
  background-color: white;
}

.cart-item__left {
  position: absolute;
  width: 140px;
  height: 140px;
  padding: 10px;
  &-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media screen and (min-width: 768px) {
    position: unset;
    width: 300px;
    height: 100%;
    padding: unset;
    &-img {
      width: 300px;
      height: 100%;
    }
  }
}

.cart-item__right {
  width: 100%;
  height: 100%;
  &-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 140px;
    padding: 0 150px;
    gap: 8px;
    border-bottom: 1px solid #eae8e4;
    justify-content: center;
    align-items: flex-start;
    &-category {
      font-size: 1rem;
    }
    &-title {
      font-size: 1.5rem;
      font-weight: lighter;
    }
  }
  &-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #eae8e4;
    &-content {
      display: flex;
      width: 100%;
      justify-content: space-between;
      span {
        font-size: 1rem;
        font-weight: lighter;
      }
    }
    &-content-count {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 10px 0;
      justify-content: space-between;
      align-items: center;
      select {
        width: 4rem;
        height: 100%;
        text-align: center;
      }
    }
  }
  &-footer {
    width: 100%;
    height: 40px;
    &-remove {
      width: 100%;
      height: 100%;
      background-color: white;
      border: none;
      border-radius: 0 0 5px 5px;
      cursor: pointer;
      transition: background-color 0.6s ease-out, color 0.6s ease-out;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
  @media screen and (min-width: 768px) {
    &-header {
      padding: 10px;
    }
    &-footer {
      &-remove {
        border-radius: unset;
      }
    }
  }
}
