@import "../../../stylesheets/variables";

.input__label {
  display: flex;
  gap: 10px;
  &--invalid-feedback {
    color: $color-fourth-text;
  }
}

.input__entry {
  width: 100%;
  height: 3rem;
  outline: 1px $line-secondary-line;
  &:focus {
    outline: 1px $line-primary-line;
  }
  &--invalid {
    outline: 2px $line-fourth-line;
  }
}
