@import "../../../stylesheets/variables";

.home {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 1rem 0;
  background-color: $color-primary-bg;
  text-align: center;
  &__session {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &-title {
      font-size: 30px;
      font-weight: bold;
      font-family: $font-primary;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 1rem 2rem;
  }
}
