@import "../../stylesheets/variables";

.footer {
  &__copyright {
    width: 100%;
    height: min-content;
    padding: 15px 0 15px 1rem;
    line-height: 32px;
    background-color: black;
    word-break: break-all;
    color: white;
    &-link {
      color: black;
      background-color: white;
      border-radius: 4px;
      padding: 2px 5px;
    }
  }
  &__content {
    display: flex;
    padding: 2rem 3.5rem;
    &-ul {
      display: flex;
      width: 20%;
      gap: 10px;
      flex-direction: column;
      margin-right: 1rem;
      &-title {
        font-weight: bold;
        padding-bottom: 5px;
        margin-bottom: 1rem;
        border-bottom: 1px solid gray;
      }
    }
    &-items {
      font-size: 1rem;
      span {
        display: flex;
        align-items: center;
        color: black;
        &:hover {
          color: gray;
        }
      }
    }
  }
}

.facebook-icon,
.instagram-icon,
.line-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
}
