@import "../../stylesheets/variables";

.footer {
  background-color: $color-primary-bg;
  border-top: 1px $line-primary-line;
  &__copyright {
    width: 100%;
    height: min-content;
    padding: 15px 0 15px 1rem;
    line-height: 32px;
    background-color: $color-secondary-bg;
    word-break: break-all;
    color: $color-secondary-text;
    &-link {
      color: $color-primary-text;
      background-color: $color-primary-bg;
      border-radius: 4px;
      padding: 2px 5px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    &-ul {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 2rem;
      &-title {
        width: 100%;
        font-weight: bold;
        padding-bottom: 5px;
        margin-bottom: 1rem;
        border-bottom: $line-secondary-line;
      }
    }
    &-items {
      display: flex;
      width: 100%;
      font-size: 1rem;
      div {
        color: $color-primary-text;
        &:hover {
          color: $color-third-text;
        }
      }
      &-number {
        display: flex;
        gap: 10px;
        flex-direction: column;
      }
      &-website {
        display: flex;
        line-height: 1rem;
      }
    }
    @media screen and (min-width: 526px) {
      flex-direction: row;
      padding: 2rem 3.5rem;
      &-ul {
        width: 25%;
        margin-right: 1rem;
      }
      &-items {
        div {
          margin-left: unset;
        }
      }
    }
    @media screen and (min-width: 800px) {
      &-items {
        &-number {
          flex-direction: row;
        }
      }
    }
  }
}

.facebook-icon,
.instagram-icon,
.line-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
}
