@import "../../../stylesheets//variables";

.indicator {
  display: grid;
  position: absolute;
  grid-template-columns: 12px;
  grid-template-rows: repeat(auto);
  gap: 8px;
  bottom: 10px;
  right: 10px;

  &__dots {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0.6;
    background: $color-primary-other;
    outline: 1px solid $color-primary-other;
    cursor: pointer;
  }
  &__dots--active {
    background: $color-secondary-bg;
  }
}
