@import "../../../stylesheets//variables";

.indicator {
  display: flex;
  position: absolute;
  gap: 8px;
  bottom: 2rem;
  right: 50%;
  transform: translateX(50%);
  &__dots {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0.6;
    background: $color-sixth-bg;
    outline: 1px $line-third-line;
    cursor: pointer;
  }
  &__dots--active {
    background: $color-secondary-bg;
  }
}
