@import "../../../stylesheets/variables";

.products {
  display: flex;
  flex-direction: column;
  padding: 10px 2rem;
  gap: 2rem;
  &__title {
    font-size: 50px;
    font-weight: bold;
    font-family: $font-primary;
    text-align: center;
    text-transform: uppercase;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    justify-content: space-around;
    grid-gap: 2rem;
  }
  &__gg {
    outline: 1px solid red;
  }
  @media screen and (min-width: 768px) {
    &__content {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (min-width: 1024px) {
    &__content {
      grid-template-columns: repeat(4, 1fr);

      grid-gap: 1rem;
    }
  }
}
