@import "../../stylesheets/variables";

.message {
  display: flex;
  position: fixed;
  width: 250px;
  height: 70px;
  bottom: 80px;
  right: 30px;
  padding: 1rem;
  outline: 1px $line-primary-line;
  background-color: $color-primary-bg;
  z-index: 4000;
  &__left {
    display: flex;
    width: min-content;
    height: 100%;
    font-weight: bold;
    color: $color-secondary-text;
    letter-spacing: 5px;
    justify-content: flex-start;
    align-items: center;
    &-icon {
      width: 35px;
      height: 35px;
    }
  }
  &__right {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5px;
    align-items: center;
    &-content {
      width: 100%;
      height: min-content;
    }
  }
}
